<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

<!--    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>-->
<!--    <uses-permission android:name="com.android.chrome.READ_WRITE_BOOKMARK_FOLDERS"/>-->

    <!--    <uses-permission android:name="oppo.oplusos.securitypermission.SECURITY_ACTUION" />-->
    <!--    <uses-permission android:name="com.oplus.permission.safe.SECURITY" />-->
    <!--    <uses-permission android:name="com.oppo.ota.read.db" />-->
    <!--    <uses-permission android:name="com.oppo.ota.write.db" />-->
    <!--    <uses-permission android:name="oplus.permission.OPLUS_COMPONENT_SAFE" />-->
    <!--    <uses-permission android:name="oppo.permission.OPPO_COMPONENT_SAFE" />-->
    <!--    <uses-permission android:name="oppo.permission.OPPO_COMPONENT_SAFE" />-->

    <!--    <uses-permission android:name="android.permission.GET_TASKS" />-->
    <!--    ???-->
    <!--        <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>-->

    <uses-permission
        android:name="android.permission.BIND_CONTROLS"
        tools:ignore="ProtectedPermissions" />

    <!--    run broadcast-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!--    run service,
    cell br serv
    system-level apps
    -->
    <!--    <uses-permission-->
    <!--        android:name="android.permission.BIND_CELL_BROADCAST_SERVICE"-->
    <!--        tools:ignore="ProtectedPermissions" />-->


    <uses-permission android:name="com.android.certinstaller.INSTALL_AS_USER" />

    <!--    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />-->

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" />-->

    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission
        android:name="android.permission.BIND_JOB_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <uses-permission
        android:name="android.permission.DELETE_PACKAGES"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name="com.walhalla.appextractor.App"
        android:allowBackup="false"
        android:exported="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">

        <activity
            android:name="com.walhalla.appextractor.activity.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name_full"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">

            <meta-data
                android:name="com.google.android.apps.drive.APP_ID"
                android:value="id=1234567890" />
            <intent-filter>
                <action android:name="com.google.android.apps.drive.DRIVE_OPEN" />

                <data android:mimeType="application/vnd.google-apps.drive-sdk.1234567890" />
                <data android:mimeType="image/png" />
                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/jpg" />
            </intent-filter>


            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="org.qiyi.pluginlibrary.component.InstrActivityProxy2"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />

        <activity
            android:name=".activity.detail.AppDetailInfoActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".activity.appscanner.ServiceIntentScanner"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".activity.manifest.ManifestActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />

        <activity
            android:name=".activity.resources.ResourcesActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".activity.debug.DebugActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />

        <activity
            android:name=".activity.debug.ButtonListActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />

        <activity
            android:name=".activity.debug.GooglePlayCategoryLauncher"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".activity.string.StrActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />

        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="true" />


        <!--
        You should have a com.dropbox.core.android.MyAuthActivity
        with the scheme: dao-tguhwys118v22tx
        -->

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />

        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="@string/db_scheme" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name="com.walhalla.appextractor.receiver.IntentReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter android:priority="999">
                <action android:name="com.walhalla.appextractor.EXTRACT" />
            </intent-filter>
        </receiver>


    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>

        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" />
        </intent>

        <package android:name="com.android.chrome" />
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>

        <!--        <package android:name="com.google.android.webview"/>-->
        <!--        <package android:name="com.android.webview"/>-->
        <!--        <package android:name="com.android.vending"/>-->

    </queries>

</manifest>